
RedirectMatch 301 /cat/annual /events/list/?tribe_event_display=list&tribe_eventcategory=10
RedirectMatch 301 /cat/(.*) /events/list/?tribe_event_display=list&tribe_eventcategory=$1
RedirectMatch 301 /get/(.*) /events/list/?tribe_event_display=list&tribe-bar-search=$1
RedirectMatch 301 /org/(.*) /events/list/?tribe_event_display=list&tribe_organizers=$1

<Files ".user.ini">  
  Require all denied
</Files>

# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
